* {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

body {
    background-image: url(../images/groovepaper_@2X.png);
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.name {
    background-color: #4aaaa5;
    width: 250px;
    height: 75px;
    text-align: center;
    box-sizing: border-box;
    padding: 25px;
    color: white;
    float: left;
}

header {
    background-color: #ffffff;
    height: 75px;
    border-bottom: #cccccc solid 2px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
    color: #4aaaa5;
}

li {
    display: inline;
    padding: 25px 0px 25px 25px;
    height: 15px;
}

nav {
    float: right;
    margin-top: 30px;
}

main {
    background-color: #ffffff;
    padding: 30px;
    margin-top: 50px;
    border: #dddddd solid 2px;
}

p {
    line-height: 25px;
    color: #777777;
}

.line {
    background-color: #dddddd;
    height: 4px;
    margin-top: 25px;
    margin-bottom: 25px;
}

img {
    max-height: 50%;
    width: 150px;
}

footer {
    background-color: #666666;
    height: 50px;
    width: 100%;
    border-top: 8px solid #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
}

h2 {
    text-align: center;
    font-size: small;
    color: #ffffff;
    padding-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    text-decoration: none;
}

.picture {
    float: left;
    margin-right: 25px;
}